# Reading Data From Different Sources

In [13]:
import pandas as pd 
from io import StringIO

In [14]:
Data = '{"employe_name":"Vivek", "email":"vivekchenna2157@gmail.com", "job_profile": [{"title":"Team Lead", "title2":"Developer"}]}'
df = pd.read_json(StringIO(Data))

In [15]:
df

,employe_name,email,job_profile
0,Vivek,vivekchenna2157@gmail.com,"{'title': 'Team Lead', 'title2': 'Developer'}"

In [16]:
df.to_json()

'{"employe_name":{"0":"Vivek"},"email":{"0":"vivekchenna2157@gmail.com"},"job_profile":{"0":{"title":"Team Lead","title2":"Developer"}}}'

In [17]:
df.to_json(orient='index')

'{"0":{"employe_name":"Vivek","email":"vivekchenna2157@gmail.com","job_profile":{"title":"Team Lead","title2":"Developer"}}}'

In [18]:
df.to_json(orient='records')

'[{"employe_name":"Vivek","email":"vivekchenna2157@gmail.com","job_profile":{"title":"Team Lead","title2":"Developer"}}]'

In [21]:
df = pd.read_csv('/Users/vivekchenna/Desktop/Banking_Project/customer_data.csv', header=None)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
1,IND81288,Raymond Mills,24,34324,06/05/19,Anthony Torres,American,Safety Technician IV,High,Jade,...,1485828.64,603617.88,607332.46,12249.96,1134475.3,1,2,1,1,1
2,IND65833,Julia Spencer,23,42205,10/12/01,Jonathan Hawkins,African,Software Consultant,High,Jade,...,641482.79,229521.37,344635.16,61162.31,2000526.1,1,3,2,1,2
3,IND47499,Stephen Murray,27,7314,25/01/10,Anthony Berry,European,Help Desk Operator,High,Gold,...,1033401.59,652674.69,203054.35,79071.78,548137.58,1,3,3,2,3
4,IND72498,Virginia Garza,40,34594,28/03/19,Steve Diaz,American,Geologist II,Mid,Silver,...,1048157.49,1048157.49,234685.02,57513.65,1148402.29,0,4,4,1,4