# Assignment10: Working with Text Data

# Q1

In [13]:
# create a panda series with 5 random text strings
text_data = pd.Series(['abroad', 'bat', 'cat', 'dog', 'egg'])
print("Original DateFrame:")
print(text_data)

Original DateFrame:
0    abroad
1       bat
2       cat
3       dog
4       egg
dtype: object

In [14]:
# convert all the string to uppercase 
uppercase_data = text_data.str.upper()
print("Uppercase:")
print(uppercase_data)

Uppercase:
0    ABROAD
1       BAT
2       CAT
3       DOG
4       EGG
dtype: object

# Q2

In [15]:
# create a pandas Series with 5 raandom text strings.
text_data = pd.Series(['vk', 'ch', 'dl', 'rr', 'sa'])
print("Original DataFrame:")
print(text_data)

Original DataFrame:
0    vk
1    ch
2    dl
3    rr
4    sa
dtype: object

In [17]:
# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three Charcters:")
print(first_three_chars)

First three Charcters:
0    vk
1    ch
2    dl
3    rr
4    sa
dtype: object