# Assignment2: DataFrame Operations

# Q1

In [1]:
import numpy as np 
import pandas as pd

In [3]:
# create a pandas dataframe with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100 , size=(5,3)), columns=['A','B','C'])
print("Original DataFrame:")
print(df)

Original DataFrame:
    A   B   C
0  92  80  64
1  38  83  23
2  93  58  21
3  84   4   2
4  17  75  49

In [5]:
# Add a new column that is the product of the first two columns
df['D']= df['A'] * df['B']
df

    A   B   C     D
0  92  80  64  7360
1  38  83  23  3154
2  93  58  21  5394
3  84   4   2   336
4  17  75  49  1275

# Q2

In [7]:
# create a pandas dataframe with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100, size=(4,3)), columns=['A','B','C'])
print("Original DataFrame: ")
print(df)

Original DataFrame:
    A   B   C
0  11  84  32
1  70  43  25
2  81  33  94
3  37  71  53

In [9]:
# compute the row-wise and column-wise
row_sum = df.sum(axis=1)
col_sum = df.sum(axis=0)
print(f"Row-wise sum:{row_sum}")
print(f"Column-wise sum:{col_sum}")

Row-wise sum:0    127
1    138
2    208
3    161
dtype: int64
Column-wise sum:A    199
B    231
C    204
dtype: int64