# Assignment3: Data Cleaning

# Q1

In [2]:
import numpy as np 
import pandas as pd

In [3]:
# create a pandas dataframe with 3columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A', 'B', 'C'])
print(f"Original DataFrame:\n{df}")

Original DataFrame:
    A   B   C
0  66  88   3
1  42  99  47
2  23  76  36
3  60  73  34
4  34  31  87

In [4]:
# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

DataFrame with NaN values:
      A     B     C
0  66.0   NaN   3.0
1  42.0  99.0  47.0
2  23.0  76.0   NaN
3  60.0  73.0  34.0
4   NaN  31.0  87.0

In [5]:
# Fill the nan values with the mean of the respective columns
df.fillna(df.mean(), inplace=True) 
print("DataFrame with NaN values filled:")
print(df)

DataFrame with NaN values filled:
       A      B      C
0  66.00  69.75   3.00
1  42.00  99.00  47.00
2  23.00  76.00  42.75
3  60.00  73.00  34.00
4  47.75  31.00  87.00

# Q2

In [8]:
# create a dataframe with 4columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100, size=(6,4)), columns=['A','B','C','D'])
print(f"Original DataFrame:\n{df}")

Original DataFrame:
    A   B   C   D
0  67   8  53  25
1  19  22  20  22
2  21  64  66  87
3  12  87   2  59
4  65  12  32   2
5  10  49   4  85

In [9]:
# Introduce some nan values 
df.iloc[1,2] = np.nan
df.iloc[2,1] = np.nan
df.iloc[5,3] = np.nan
print("DataFrame with NaN values:")
print(df)

DataFrame with NaN values:
    A     B     C     D
0  67   8.0  53.0  25.0
1  19  22.0   NaN  22.0
2  21   NaN  66.0  87.0
3  12  87.0   2.0  59.0
4  65  12.0  32.0   2.0
5  10  49.0   4.0   NaN

In [10]:
# drop the rows with any nan values
df.dropna(inplace=True)
print("DataFrame with NaN Values drooped:")
print(df)

DataFrame with NaN Values drooped:
    A     B     C     D
0  67   8.0  53.0  25.0
3  12  87.0   2.0  59.0
4  65  12.0  32.0   2.0