# Assignment5: Merging DataFrame

# Q1

In [2]:
import numpy as np
import pandas as pd

In [3]:
# create two pandas dataframe with a common column

df1 = pd.DataFrame({'Key':['A','B','C','D'], 'Value1': np.random.randint(1,100, size=4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'], 'Value2': np.random.randint(1,100, size=4)})
print("DataFrame1:")
print(df1)
print("DataFrame2:")
print(df2)

DataFrame1:
  Key  Value1
0   A      23
1   B      33
2   C      38
3   D      57
DataFrame2:
  Key  Value2
0   A      42
1   B      90
2   C      37
3   E      45

In [4]:
# Merge the DataFrame using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

Merged DataFrame:
  Key  Value1  Value2
0   A      23      42
1   B      33      90
2   C      38      37

# Q2

In [7]:
# create two pandas dataframe with different columns 
df1 = pd.DataFrame({'A': np.random.randint(1,100,size=3), 'B': np.random.randint(1,100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1,100,size=3), 'D': np.random.randint(1,100, size=3)})
print("DataFrame1:")
print(df1)
print("DataFrame2:")
print(df2)

DataFrame1:
    A   B
0  27  29
1  94  34
2  55  56
DataFrame2:
    C   D
0  75  74
1  82  77
2  29  72

In [8]:
# Concatenate the dataframes along the rows and along the columns
# Concatenate the dataframe along the rows 
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

Concatenated DataFrame (rows):
      A     B     C     D
0  27.0  29.0   NaN   NaN
1  94.0  34.0   NaN   NaN
2  55.0  56.0   NaN   NaN
0   NaN   NaN  75.0  74.0
1   NaN   NaN  82.0  77.0
2   NaN   NaN  29.0  72.0

In [9]:
# Concatenate along the columns 
concat_col = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (Columns):")
print(concat_col)

Concatenated DataFrame (Columns):
    A   B   C   D
0  27  29  75  74
1  94  34  82  77
2  55  56  29  72