# Assignment8: Pivot Tables

# Q1

In [1]:
import numpy as np
import pandas as pd

In [2]:
# create a pandas dataframe with columns 'Date', 'Category', and 'Values'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20),'Value': np.random.randint(1,100, size=20),})
print("Original DataFrame:")
print(df)

Original DataFrame:
         Date Category  Value
0  2022-01-03        B     58
1  2022-01-08        A     72
2  2022-01-06        B     61
3  2022-01-06        A     61
4  2022-01-07        C     78
5  2022-01-02        A      9
6  2022-01-02        B      2
7  2022-01-02        A     74
8  2022-01-09        A     77
9  2022-01-10        B     42
10 2022-01-07        A     47
11 2022-01-10        B     33
12 2022-01-07        C     22
13 2022-01-06        C     35
14 2022-01-06        C      1
15 2022-01-03        C     45
16 2022-01-09        A     19
17 2022-01-01        C      5
18 2022-01-01        C     32
19 2022-01-09        B     73

In [3]:
# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table= df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Pivot Table:
Category       A     B      C
Date
2022-01-01   NaN   NaN   37.0
2022-01-02  83.0   2.0    NaN
2022-01-03   NaN  58.0   45.0
2022-01-06  61.0  61.0   36.0
2022-01-07  47.0   NaN  100.0
2022-01-08  72.0   NaN    NaN
2022-01-09  96.0  73.0    NaN
2022-01-10   NaN  75.0    NaN

# Q2

In [4]:
# create a panda dataframe with columns 'Yera' 'Quarter'and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020,2021,2022],size=12), 'Quarter':np.random.choice(['Q1','Q2','Q3','Q4'], size=12), 'Revenue':np.random.randint(1,100, size=12)})
print("Original DataFrame:")
print(df)

Original DataFrame:
    Year Quarter  Revenue
0   2020      Q2       86
1   2020      Q1       95
2   2021      Q2       74
3   2020      Q1       65
4   2022      Q4       87
5   2020      Q1       88
6   2021      Q1       84
7   2022      Q2       32
8   2022      Q3        4
9   2021      Q1       42
10  2022      Q4       26
11  2020      Q3       63

In [5]:
# create a pivot table to compute the mean 'Revenue'for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print(f"Pivot Table:\n{pivot_table}")

Pivot Table:
Quarter         Q1    Q2    Q3    Q4
Year
2020     82.666667  86.0  63.0   NaN
2021     63.000000  74.0   NaN   NaN
2022           NaN  32.0   4.0  56.5