# Assignment: Applying Functions

# Q1

In [2]:
import numpy as np 
import pandas as pd

In [3]:
# create a pandas dataframe with 3 columns and 5 rows filled with random intgers.
df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

Original DataFrame:
    A   B   C
0  50  69   2
1  16  54  41
2   5  83  86
3  80  73  91
4  82  95  81

In [4]:
# Apply a function that doubles the values of the dataframe
df_double = df.applymap(lambda x:x*2)
print(f"Doubled DataFrame:\n{df_double}")

Doubled DataFrame:
     A    B    C
0  100  138    4
1   32  108   82
2   10  166  172
3  160  146  182
4  164  190  162

/var/folders/4f/6s4zkngj5jj99q0nw2m8lh5w0000gn/T/ipykernel_68817/2216481015.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_double = df.applymap(lambda x:x*2)

# Q2

In [6]:
# Create a pandas dataframe with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100, size=(6,3)), columns=['A', 'B', 'C'])
print(f"Original DataFrame:\n{df}")

Original DataFrame:
    A   B   C
0  60  60  48
1  52  54  65
2  63  44  59
3  39  51  60
4  35  51   8
5  27  45  74

In [11]:
# Apply a lambda function to create a new column that is the sum of the existing columns 
df['Sum']= df.apply(lambda row:row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

DataFrame with Sum column:
    A   B   C  Sum
0  60  60  48  168
1  52  54  65  171
2  63  44  59  166
3  39  51  60  150
4  35  51   8   94
5  27  45  74  146